.main-form-div {
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: 0px 5px 8px 0px #00000026;
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.form-input {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.form-itself {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  overflow-y: auto;
  padding: 0px 20px 0px 20px;
  width: 100%;
}

.page-title {
  padding: 10px;
  color: #002639;
}
