* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --primary-color: #009adf;
    --secondary-color: #002639;
    --tertiary-color: #f5f5f5;
    --primary-text-color: #757575;
    --secondary-text-color: var(--primary-color);
    --tertiary-text-color: var(--secondary-color);
    --quaternary-text-color: #52575c;
    --quintenary-text-color: #7e8286;
    font-family: 'Inter', sans-serif;
  }